body{
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}


.icon {
  min-width: 200px;
  width: 30vw;
  height: 30vw;
}

.weatherCard {
  min-width: 200px;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  border: 5px solid black;
}